@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background: #11141a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #0ef;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f242d;
  font-size: 100px;
  color: #fff;
  font-weight: 700;
}

section:nth-child(odd) {
  background: #323946;
}

.data-table {
  // margin-top: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: rgb(32, 44, 44);
  color: white;
  display: flex;
  justify-content: baseline;
  align-items: center;
  z-index: 100;
  padding: 20px;
}

.ml-1 {
  margin-left: 15px;
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 10px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s,
  -ms-transform 0.1s ease 0s,
  -webkit-transform 0.1s ease 0s,
  transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff !important;
}

.btn:hover {
  background: rgba(231, 31, 31, 0.568)
}

.btn:active {
  background-color: rgba(226, 58, 58, 0.568);
  transform: translateY(1px);
}
